<div class="main">
    <div class="mainInp">
<input type="text"[(ngModel)]="name" placeholder="Enter Name">
<input type="text"[(ngModel)]="age" placeholder="Enter Age">
<input type="text"[(ngModel)]="grade" placeholder="Enter grade">
<input type="text"[(ngModel)]="subject" placeholder="Enter subject">

<input type="text"[(ngModel)]="street" placeholder="Enter street">
<input type="text"[(ngModel)]="city" placeholder="Enter city">
<input type="text"[(ngModel)]="zip" placeholder="Enter zip">
</div>
<ul [(ngModel)]="ulStyle" style="display: none;">
    <li *ngFor="let el of studentInfo">{{el.name}}</li>
    <li *ngFor="let el of studentInfo">{{el.age}}</li>
    <li *ngFor="let el of studentInfo">{{el.grade}}</li>
    <li *ngFor="let el of studentInfo">{{el.subject}}</li>
    <li *ngFor="let el of studentInfo">{{el.studentAddress[0].street}}</li>
    <li *ngFor="let el of studentInfo">{{el.studentAddress[0].city}}</li>
    <li *ngFor="let el of studentInfo">{{el.studentAddress[0].zip}}</li>
</ul>
<div class="btns">
<button (click)="addStudent()">Add student</button>
<button (click)="showStudents()">Show student(s)</button>
</div>
</div>