<div class="main">
    <div class="mainInp">
<input type="text"[(ngModel)]="name" placeholder="Enter Name">
<input type="text"[(ngModel)]="age" placeholder="Enter Age">
<input type="text"[(ngModel)]="grade" placeholder="Enter grade">
<input type="text"[(ngModel)]="subject" placeholder="Enter subject">

<input type="text"[(ngModel)]="street" placeholder="Enter street">
<input type="text"[(ngModel)]="city" placeholder="Enter city">
<input type="text"[(ngModel)]="zip" placeholder="Enter zip">
</div>
<ul class="listStyle" *ngIf="showStudentsList">
    <li *ngFor="let el of studentInfo" class="studentCard">
      <p><strong>Name:</strong> {{el.name}}</p>
      <p><strong>Age:</strong> {{el.age}}</p>
      <p><strong>Grade:</strong> {{el.grade}}</p>
      <p><strong>Subject:</strong> {{el.subject}}</p>
      <p><strong>Street:</strong> {{el.studentAddress[0].street}}</p>
      <p><strong>City:</strong> {{el.studentAddress[0].city}}</p>
      <p><strong>ZIP:</strong> {{el.studentAddress[0].zip}}</p>
    </li>
  </ul>
<div class="btns">
<button (click)="addStudent()">Add student</button>
<button (click)="showStudents()">{{btn2}}</button>
</div>
</div>