<div class="footMain">
    <div class="rightSide">
        <p>this is homework so I am goin to use Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut porro natus eveniet iste, vero, mollitia, reprehenderit provident quaerat distinctio perferendis itaque beatae voluptates perspiciatis nemo impedit. A vero illum quaerat, enim eos culpa, sequi est, architecto iure veritatis facilis at nesciunt eligendi quo. Aperiam obcaecati qui ullam ab quis, doloremque est.</p>
    </div>
    <ul>
        <li>Phone: 493 030 299</li>
        <li>Mail: Homework.Step  gmail.com</li>
        <li>Instagram: Homework.Step.IG</li>
        <li>Facebook: Homework.Step.FB</li>
    </ul>
</div>
