header{
    height:100px;
    width: 100%;
    background-color: pink;
}
main{
    background-color: red;
    height: 80vh;
}
footer{
    width: 100%;
    height: 200px;
    background-color: palevioletred;
}